@import '../../../styles/colors.scss';

.message {
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid $primary;
  align-self: flex-start;
  border-radius: 10px;

  background-color: white;
  color: $dark;

  border-bottom-left-radius: 0;

  &__text {
    margin: 0;
  }

  &--right {
    border-bottom-left-radius: 10px;
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }
}
