@import '../../styles/variables.scss';

.users-list {
  margin-top: 10px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding: 0 20px;
    flex: 1;
  }

  &__title {
    margin: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
    padding: 5px;
    text-align: center;
    font-size: 18px;
  }

  &__empty {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
    padding: 5px;
    text-align: center;

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}
