@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.dialogue {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
  }

  &__header {
    position: relative;
    padding: 5px;

    border-radius: 5px;
    display: flex;

    background-color: #f9f9f9;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }

  &__avatar {
    margin: 0;
    fill: $primary;

    width: 50px;
    height: 50px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__username {
    position: absolute;
    left: 50%;
    font-size: 16px;

    color: $dark;

    transform: translateX(-50%);
  }

  &__messages {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
    justify-content: flex-end;
  }

  &__messages-wrapper {
    margin-top: 10px;
    height: calc(100vh - 41px - 61px - 35px - 75px);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    padding-top: 10px;
    margin-top: auto;
  }

  &__input {
    margin-right: 10px;
  }

  &__send-button {
    background: none;
  }
}
