@font-face {
  font-family: 'Rubick';
  src: url('../assets/fonts/Rubik-Light.woff2') format('woff2'),
    url('../assets/fonts/Rubik-Light.woff') format('woff');
}

$Rubik: Rubick, Arial, sans-serif;
