@import '../../styles/colors.scss';

.register {
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  max-width: 500px;

  &__form {
    margin: 0 auto;
  }

  &__header {
    margin: 0;
    text-align: center;
    color: $exhausted;
  }

  &__error {
    margin: 0;
    margin-top: 10px;
    color: rgb(201, 0, 0);
  }

  .form-input {
    margin-top: 15px;
  }

  .custom-button {
    margin-top: 15px;
  }
}
