@import '../../styles/colors.scss';
@import '../../styles/animations.scss';

@mixin shrink {
  top: -10px;
  font-size: 12px;
}

.form-input {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: #fff;

  label {
    position: absolute;
    top: 5px;
    left: 4px;
    color: $primary;
    cursor: text;
    padding: 0 5px;
    background-color: #fff;
    transition: all 0.2s ease;

    &.shrink {
      @include shrink;
    }
  }

  input {
    width: 100%;
    padding: 5px;
    background: none;
    font-size: 14px;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 5px;

    &:focus {
      outline: none;

      ~ label {
        @include shrink;
      }
    }
  }

  .error {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    color: rgb(177, 0, 0);

    @include shakeMixin;
  }
}
