@import './styles/fonts';
@import './styles/variables';

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: $Rubik;
}

.app {
  min-height: 100vh;
  background: #eee;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;

  display: block;
  width: 300px;

  @media (min-width: $tablet-width) {
    width: unset;
    margin-top: 20px;

    display: grid;
    grid-template-columns: 150px 550px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 150px 850px;
  }
}
