@import './styles/fonts';

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: $Rubik;
}

.app {
  min-height: 100vh;
  background: #eee;
}
